[Desktop Entry]
Type=Application
Name=People
Icon=icons-Applications-people
Exec=invoker -s --type=d /usr/bin/qmllauncher -path /usr/share/qmlcontacts -fullscreen
Comment=Nemo People Application
